<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/entryForm.css" />
  </head>
  <body>
    <main>
      
      <div class="center">
        <h1>Enter your name and submit</h1>
        <form action="lists/users/" method="POST">
          <input type="text" name="username" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <%- include('includes/end.ejs')%>
