<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/users.css" />
  </head>
  <body>
    <main>
      <div class="users">
        <a href="/">Create user</a>
        <% if(userNameList.length > 0) {%>
        <div class="user-list">
          <ul>
            <% for(let user of userNameList) { %>
            <li><%= user.userName%></li>
            <% } %>
          </ul>
        </div>
        <%} else { %>
        <h1>No Products Found!</h1>
        <% } %>
      </div>
      <%- include('includes/end.ejs')%>
